/* *generics */
:root {
    --dark-grey: #999EA1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

img {
    max-height: 100%;
    max-width: 100%;
    display: block;
}

p {
    margin: 0;
    font-weight: 500;
}

p.dark-grey {
    font-size: 0.8rem;
}

/* *utils */
.bordered {
    border: 2px dashed white;
}

.dark-grey {
    color: var(--dark-grey);
}

/* areas headers */
.area-header {
    height: 10%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

.icons-set {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    color: var(--dark-grey);
    font-size: 1.4rem;
}

/* *svolgimento */
/* sfondo */
#root {
    height: 100vh;
    background: linear-gradient(#009688, #009688 15%, #DBDBD3 15%, #DBDBD3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
main {
    height: 95%;
    width: 80%;
    display: flex;
    align-items: stretch;
}

/* # contacts area */
.contacts-area {
    width: 35%;
    background-color: red;
}

.user-info {
    gap: 0.5rem;
    padding: 0.3rem;
}

.desktop-notifications {
    height: 12%;
}

.searchbar-chat {
    height: 8%;
}

.contacts {
    height: 70%;
    overflow-y: scroll;
}

/* # chats area */
.chatting-area {
    width: 65%;
    background-color: blue;
}

.chat-window {
    height: 80%;
    overflow-y: scroll;
}

.chat-input-area {
    height: 10%;
}
