/* *generics */
:root {
    --dark-grey: #999EA1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    border-radius: 50%;
}

p {
    margin: 0;
    font-weight: 500;
}

p.dark-grey,
input.dark-grey {
    font-size: 0.8rem;
}

i {
    cursor: pointer;
}

/* *utils */
.bordered {
    border: 2px dashed white;
}

.dark-grey {
    color: var(--dark-grey);
}

/* areas headers */
.area-header {
    height: 10%;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
}

.icons-set {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    color: var(--dark-grey);
    font-size: 1.4rem;
}

/* *svolgimento */
/* sfondo */
#root {
    height: 100vh;
    background: linear-gradient(#009688, #009688 15%, #DBDBD3 15%, #DBDBD3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main */
main {
    height: 95%;
    width: 80%;
    display: flex;
    align-items: stretch;
}

/* # contacts area */
.contacts-area {
    width: 35%;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
}

/* notifiche desktop */
.desktop-notifications {
    height: 12%;
    background-color: #8EDAFC;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem;
}

.desktop-notifications .dark-grey {
    text-decoration: underline;
}

.fa-bell-slash {
    background-color: white;
    border-radius: 50%;
    color: #8EDAFC;
    padding: 1rem 0.8rem;
    margin-right: 0.4rem;
    font-size: 1.2rem;
}

/* barra di ricerca per le chat */
.searchbar-chat {
    height: 8%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/* area contatti */
.contacts {
    height: 70%;
    overflow-y: scroll;
    background-color: white;
}

.contact-card {
    height: 15%;
    display: flex;
    align-items: center;
    padding: 0.4rem;
    gap: 1rem ;
    cursor: pointer;
}

.contact-card:hover {
    background-color: #f5f5f5;
}

.no-contacts {
    text-align: center;
    padding: 1rem 0.5rem;
    background-color: #DC3545;
    color: white;
    font-weight: 600;
}

/* # chats area */
.chatting-area {
    width: 65%;
}

/* finestra con chat */
.chat-window {
    height: 80%;
    overflow-y: scroll;
    background-image: url("../assets/img/mine.jpg");
    padding: 2rem 3rem;
    row-gap: 1rem;
    display: flex;
    flex-direction: column;
}

.chat-message {
    width: 40%;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}

.chat-message .dark-grey {
    position: absolute;
    right: 1rem;
    bottom: 0.2rem;
    font-size: 0.6rem;
}

.sent {
    background-color: #D5F9BA;
    align-self: flex-end
}

.received {
    background-color: #FFFFFF;
}

/* input per scrivere messaggi */
.chat-input-area {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EAEAEA;
}

.chat-input-area > input {
    width: 80%;
    height: 60%;
}

.chat-input-area > i {
    color: var(--dark-grey);
    font-size: 1.4rem;
}